*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color:white;
    font-family: Poppins, sans-serif;

}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}
.poster{
    width: 200px;
    height: auto;
    Border-radius: 12px;
    Box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    
}

.poster-card{
    flex: 1 1 200px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    
}
.poster-card:hover{
    transform: scale(1.05);
    

}
h2{
    font-size: 1.1rem;
    margin: 10px 0 5px 0;
    color: gold;
}
p{
   font-size: 1.1rem;
    margin: 10px 0 5px 0; 
     color: lightgray;
}

